<a href="https://colab.research.google.com/github/DSujitKumar/Master-in-Machinelearning/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def addfun(a,b):
  return a+b;
def accfun(f,l):
  a=0
  for i in l:
    a=f(a,i)
    print(a)
l=[1,2,3,4,5,6,7,8,9,10]
print(accfun(addfun,l))

1
3
6
10
15
21
28
36
45
55
None

In [12]:
#Create the below pattern using nested for loop in Python
for i in range(1,6): print('*'*i)
for j in range(4,0,-1): print('*'*j)

*
**
***
****
*****
****
***
**
*

In [16]:
'''
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 
and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line. 
'''

for i in range(2000,3200+1 ): 
  if(i %7==0 and i%5!=0): print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [25]:
#Write a program which accepts a sequence of comma-separated numbers from console and generate a list. 
inp=input()
lst=(inp.split(','))
print(lst)

15,85,25,15,153,456,85
['15', '85', '25', '15', '153', '456', '85']
['15', '85', '25', '15', '153', '456', '85']

In [20]:
name ="Sujit Das"
a=name.split(' ')
print(a[0][::-1]+' '+a[-1][::-1])

tijuS saD

In [21]:
#Write a Python program to reverse a word after accepting the input from the user. 
a=input()
print(a[::-1])

Sujit
tijuS

In [29]:
#Write a Python program to find the volume of a sphere with diameter 12 cm. 
vol=(4/3)*(22/7)*6**3
print(vol)

905.142857142857